{% extends "base_generic.html" %}

{% block content %}


<div class="card mb-4">
        <div class="card-header">
          <h1>Edit {{ author }}'s Details</h1>
        </div>
        <div class="card-body">
                <form action="" method="post">
                        {% csrf_token %}
                        <table>
                        {{ form.as_table }}
                        </table>
                        <input type="submit" value="Submit" />
                        
                    </form>
        </div>
      </div>
{% endblock %}

